@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

/*Main Button for signout / create */

.title-container {
    display: none;
    /* Hide the container by default */
}

.logo-image {
    max-width: 100px;
    /* Set maximum width for the image */
    margin-right: 20px;
    /* Add space between the image and the text */
}

@media only screen and (max-width: 768px) {
    .title-container {
        padding-left: 12%;
        display: flex;
        /* Display as flexbox on mobile devices */
        align-items: center;
        /* Center vertically */
        justify-content: start;
        /* Center horizontally */
    }
}

.primary-button {
    color: #ffff;
    height: 70px;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, #de6262, #ffb88c);
    padding: 12px 30px;
    border-radius: 30px;
    position: absolute;
    /* Set position to absolute */
    top: 20px;
    /* Adjust top position */
    right: 20px;
    /* Adjust right position */
}

/*Add Hover*/
.primary-button:hover {
    background: linear-gradient(260deg, pink, #de6262);
}

.secondary-button {
    color: #de6262;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px;
    margin: 6px;
}

.secondary-button:hover {
    color: #823333;
    border: solid 2px;
    background-color: #ffb88c;
}

.card h3 {
    text-align: center;
}

/*NavBar*/

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
}

nav .nav-button {
    color: #ffff;
    height: 70px;
    text-transform: uppercase;
    font-size: 15px;
    background: linear-gradient(45deg, #de6262, #ffb88c);
    padding: 12px 30px;
    border-radius: 30px;
    margin: 15px;
}

nav .nav-button:hover {
    background: linear-gradient(260deg, pink, #de6262);
}

nav .nav-button:disabled {
    background-color: #3c2323;
    color: rgb(193, 42, 98)
}

nav .logo-container {
    width: 170px;
    margin: 15px;
    height: auto;

}

nav .logo-container .logo {
    width: 100%;
}

/*Home Page
We can also add an image in the overlay using url in background after linear-gradient*/

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: linear-gradient(89deg, #f4bfbf, #e8d4c9);
    background-color: #e8d4c9;
    background-image: url(../src/images/furiendsbackground.png);
    /* background-size: 1000px; */
    background-repeat: no-repeat;
    background-position: center;
}

.home {
    margin-top: 30vh;
}

/*Auth-Modal*/
.auth-modal {
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 40px;
}

.auth-modal .close-icon {
    float: right;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input {
    padding: 8px;
    margin: 10px;
    font-size: 17px;
}

.auth-modal input [type=email] {
    padding: 8px;
    margin: 10px;
    font-size: 17px;
}

.auth-modal input [type=password] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}

/*OnBoarding*/
.onboarding-title {
    text-align: center;
}

.onboarding-nav {
    width: 80px;
    height: auto;
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
}

.onboarding {
    border-top: solid 1px rgb(154, 154, 154);
}

.onboarding form {
    display: flex;
    justify-content: center;
}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.onboarding select {
    margin: 10px 0;
    margin-right: 10px;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
}


.onboarding form .multiple-input-bd {
    display: flex;
    flex-direction: row;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form .multiple-input-bd input {
    margin-right: 10px;
}

.onboarding form label {
    margin: 10px 0;

}


.onboarding form .multiple-input-container label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form .onboarding-lookingfor label {
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form .multiple-input-container input[type="radio"],
.onboarding form .onboarding-lookingfor input[type="radio"] {
    display: none;
}

.onboarding form input[type="radio"] {
    display: none;
}

.onboarding form input[type="number"] {
    width: 10%;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.onboarding form input[type="radio"]:checked+label {
    border: solid 2px red;
}

.onboarding .onboarding-lookingfor input[type="radio"]:checked+label {
    border: solid 2px red;
}


.onboarding form .photo-container img {
    width: 100%;
}

/*DASHBOARD*/

.dashboard {
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
}

.dashboard .card-container {
    width: 400px;
    height: 650px;
}


.card {
    width: 400px;
    height: 610px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.card h3 {
    margin-top: 0;
}

.dashboard .swipe-info {
    position: absolute;
    bottom: 0;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.swipe-icon {
    position: absolute;
    padding-top: 80px;
    width: 400px;
    z-index: 1;
    height: 400px;
    display: flex;
    opacity: 0;
    animation: fade-out 1s ease-in-out forwards;
    pointer-events: none;

}

/* Chat Container */

.chat-container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 30%;
    z-index: 1;
}

.chat-container .chat-container-header {
    background: linear-gradient(45deg, #de6262, #ffb88c);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-container .option {

    border: none;
    background-color: white;
    border-bottom: solid 4px red;
    font-size: 18px;
    margin: 2px;
    padding: 10px;
}

.chat-container .option:disabled {
    border-bottom: solid 4px lightgray;
}

.chat-container .option:hover {
    border-bottom: solid 4px orange;
}

.chat-container .profile,
.chat-container .log-out-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.random-quote {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-left: 220px;
    color: palevioletred;
  }

.img-container {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px;
}

.img-container:hover {
    border-bottom: solid 4px orange;
}

.img-container img {
    width: 100%;
}

.clickedProfileImg img {
    width: 100%;
    object-fit: cover;
}

.clickedProfileImg {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.clickedProfileImg:hover {
    border-bottom: solid 4px orange;
}

.chat-fname {
    text-align: center;
}

.chat-display,
.matches-display {
    padding: 20px;
    padding-left: 10px;

}

.match-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-container {
    margin-right: 10px;
}

.match-card h3 {
    margin: 0;
}

.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* chat header */
.chat-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px
}

.actions-container {
    display: flex;
    align-items: center;
}

.logout-container,
.edit-profile-container {
    margin-left: 10px;
    padding-top: 70px;
}

.logout-text,
.edit-profile-text {
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    /* Add cursor pointer for better UX */
}


/* Leaderboard Styles */
.leaderboard-option {
    border: none;
    background-color: white;
    border-bottom: solid 4px red;
    font-size: 18px;
    margin: 2px;
    padding: 10px;
}

.leaderboard-option:hover {
    border-bottom: solid 4px orange;
}

.leaderboard-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.leaderboard-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.leaderboard-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.leaderboard-table tr:hover {
    background-color: #e5e5e5;
}

/* Modal */
.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    /* Semi-transparent background */
}

/* Modal content */
.modal-content {
    background-color: #ffffff;
    /* White background */
    margin: auto;
    /* Adjust the top margin as needed */
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    max-height: 95%;
    /* Set maximum height to 90% of viewport height */
    overflow-x: auto;
    height: fit-content;
}

/* Close button */
.close {
    color: black;
    /* White close button */
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.close:hover {
    color: #000000;
    /* Change close button color on hover */
}

/* Profile image */
.modal .clickedUrl {
    text-align: center;
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Profile Display CSS */

.profile-details p {
    margin: 5px 0;
    /* Add margin to each paragraph */
}

.profile-details b {
    display: inline-block;
    /* Ensure the age and name are in the same line */
}

.profile-details img {
    width: 20px;
    /* Adjust the width of the icons */
    height: auto;
    /* Maintain aspect ratio */
    margin-right: 5px;
    /* Add margin to separate the icons from the text */
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Initial and final position */
    }

    50% {
        transform: translateY(-10px);
        /* Bounce up */
    }
}

/* MatchModal */

.match-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 220px;
}

.match-modal-content {
    background: linear-gradient(45deg, #de6262, #ffb88c);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Box shadow for depth */
    text-align: center;

}

.match-modal-content h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.match-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.match-profile {
    flex-basis: 45%;
}

.match-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    object-fit: cover;
}

.match-profile p {
    font-size: 16px;
    color: #555;
}